/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  font-family: 'Quicksand', 700;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.respIframeContainer {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.respIframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 500px;
  border: 0;
}

/* Don't wrap first cell in a table: row headings */
td:nth-of-type(1){
  white-space:nowrap;
}