/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-code-font-size: 95%;

  --ifm-color-primary: #6D9CD8;
  --ifm-color-primary-dark: #477ABA;
  --ifm-color-primary-darker: #2F518F;
  --ifm-color-primary-darkest: #1E2D5C;
  --ifm-color-primary-light: #A8C0EB;
  --ifm-color-primary-lighter: #CDD5F5;
  --ifm-color-primary-lightest: #F3F4FF;

  --ifm-navbar-height: 4rem;
}

.hero.hero-primary {
  --ifm-hero-background-color: var(--ifm-color-primary-darkest)
}

.footer.footer--dark {
  --ifm-footer-background-color: var(--ifm-color-primary-darkest)
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  padding-left: 1rem;

}

.navbar .navbar__brand {
  height: 3.25rem;
}

[id^="mermaid"] {
  padding: 1rem;
  font-size: 90%;
  overflow: visible;
}

foreignObject {
  text-align: center;
  padding-top: 0rem;
  font-size: 90%;
  overflow: visible;
}
